@import "../../assets/variables";
.user-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  .title {
    font-size: 60px;
    margin-top: 12px;
    color: $blue-600;
    font-weight: 600;
  }
  .sub {
    font-size: 30px;
    margin-top: 8px;
    color: $blue-900;
  }
  .primary-btn {
    margin-top: 12px;
    font-family: 'Roboto', serif;
    font-weight: 500;
    font-size: 20px;
    padding: 8px 12px;
    background: $red-400;
    color: $red-900;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    &:active {
      outline: none;
      background: $red-600;
    }
    &:focus {
      outline: none;
    }
  }
}

